server {
    listen       $PORT;
    listen  [::]:$PORT;

    location / {
        root   /usr/share/nginx/html;
        index  index.html;
        # Allow for stateful URLs
        try_files $uri /index.html;
    }
}
# vim: ft=nginx
